@import "tailwindcss";

:root {
  --bg-dark: #121212;
  --surface: #1e1e1e;
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --error: #cf6679;
  --text-main: #ffffff;
  --text-dim: #b0b0b0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
